$colors: (
  common: (
    "white": #FFFFFF,
    "black": #000000,
    "placeholder": #767676,
    "selection": #3C66FA,
  ),
  color: (
    "white" : #fff,
  ),
  body: (
    "primary": #ffffff,
  ),
  theme: (
    "primary": #906E50,
  ),
  heading: (
    "primary": #080A0B,
  ),
  text: (
    "body": #767676,
    "p": #767676,
  ),
  menu: (
    "primary": #080A0B,
    "white": #FFFFFF,
  )
);
