// font url
$font-url: '@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap)';

/* === Tartuffo Trial scss (index 02) === */
@font-face {
    font-family: "Tartuffo_Trial-Regular";
    src: url('/assets/fonts/Tartuffo_Trial-RegularItalic.otf');
    font-weight: 400;
}
@font-face {
    font-family: "Tartuffo_Trial-Regular";
    src: url('/assets/fonts/Tartuffo_Trial-Thin.otf');
    font-weight: 100;
}

@font-face {
    font-family: "Tartuffo_Trial-Regular";
    src: url('/assets/fonts/Tartuffo_Trial-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: "Tartuffo_Trial-Light";
    src: url('/assets/fonts/Tartuffo_Trial-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: "Tartuffo_Trial-Thin";
    src: url('/assets/fonts/Tartuffo_Trial-Thin.otf');
    font-weight: 100;
}


// font family
$font-family: (
    ff: ("body": " 'DM Sans', sans-serif",
        "heading": " 'Outfit', sans-serif",
        "heading-2": " 'Bai Jamjuree', sans-serif",
        "tartuffo": " 'Tartuffo_Trial-Regular",
        "fontawesome": '"Font Awesome 6 Pro"',
    )
);

// font weight
$font-scale: (
    fw: ("normal": normal,
        "thin": 100,
        "elight": 200,
        "light": 300,
        "regular": 400,
        "medium": 500,
        "sbold": 600,
        "bold": 700,
        "ebold": 800,
        "black": 900,
    )
);

// font size
$font-size: (
    fs: ("p": 16px,
        "body": 16px,
        "h1": 80px,
        "h2": 48px,
        "h3": 40px,
        "h4": 36px,
        "h5": 30px,
        "h6": 24px,
    ),
    lh: ("p": 26px,
        "body": 26px,
        "h1": 100px,
        "h2": 64px,
        "h3": 50px,
        "h4": 46px,
        "h5": 40px,
        "h6": 34px,
    )
);