@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 header-common
/*----------------------------------------*/
.header-8 {
	padding: 0;
	background-color: transparent;
	border-bottom: 1px solid rgb(255 255 255 / 10%);
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
	padding: 0 50px;

	&-9 {
		background: red;
	}

	@media #{$lg,$md,$sm,$xs} {
		padding: 0 15px;
	}

	&.rr-sticky {
		background-color: var(--rr-heading-primary);
	}

	@media (min-width: 1400px) {

		.container,
		.container-lg,
		.container-md,
		.container-sm,
		.container-xl,
		.container-xxl {
			max-width: 1626px;
		}
	}

	.header {

		&__logo {
			img {
				@media #{$xs} {
					max-width: 120px;
				}
			}
		}

		&__main {

			.mean {
				&__menu-wrapper {
					margin-left: auto;
				}
			}

			.main-menu {
				margin-right: 51px;

				ul {
					li {
						@media (max-width:1199px) {
							&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)) {
								display: none;
							}
						}
					}
				}
			}

		}

		&__hamburger {
			.sidebar__toggle {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.bar-icon {
				width: 65px;
				height: 12px;

				span {
					background-color: #D9D9D9;
					height: 2px;
				}
			}
		}
	}

	.header__btn-wrap {
		.rr-btn__header {
			background: #FFFFFF;
			border-radius: 22.5px;
			padding: 12px 28px;

			.text-one {
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: -0.03em;
				color: #111111;
				font-family: var(--rr-ff-heading-2);

				& i {
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
				}
			}

			.text-two {
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: -0.03em;
				color: #111111;
				font-family: var(--rr-ff-heading-2);

				& i {
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
	}
}


.header-6 {
	padding: 0;
	background-color: transparent;
	border-bottom: 1px solid rgb(255 255 255 / 10%);
	position: fixed;
	left: 0;
	right: 0;
	top: 25px;
	z-index: 9999;
	@media #{$lg,$md,$sm,$xs} {
		top: 15px;
	}
	&.rr-sticky {
		background-color: var(--rr-heading-primary);
	}

	.header {

		&__logo {
			img {
				@media #{$xs} {
					max-width: 120px;
				}
			}
		}

		&__main {

			.mean {
				&__menu-wrapper {
					margin-left: auto;
				}
			}

			.main-menu {
				margin-right: 51px;

				ul {
					li {
						@media (max-width:1199px) {
							&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)) {
								display: none;
							}
						}
					}
				}
			}

		}

		&__hamburger {
			.sidebar__toggle {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

		}
	}

	.header__btn-wrap {
		.rr-btn__header {
			background: #FFFFFF;
			border-radius: 22.5px;
			padding: 12px 28px;

			.text-one {
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: -0.03em;
				color: #111111;
				font-family: var(--rr-ff-heading-2);

				& i {
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
				}
			}

			.text-two {
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: -0.03em;
				color: #111111;
				font-family: var(--rr-ff-heading-2);

				& i {
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
	}
	&__right{
		@media #{$sm,$xs} {
			display: none;
		}
		.decs{
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: -0.03em;
			color: #111111;
			font-family: var(--rr-ff-heading-2);
			text-align: right;
			margin-bottom: 0;

		}
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #F1F1F1;
		border-radius: 15px;
		padding: 0 25px;
		@media #{$lg,$md,$sm,$xs} {
			padding: 25px 25px;
		}
		@media #{$sm,$xs} {
			background: inherit;
		}
	}

	&__main {
		display: grid;
		grid-template-columns: 1fr 593px;
		gap: 20px;
		@media #{$xxl} {
			grid-template-columns: 1fr 454px;
		}
		@media #{$xl} {
			grid-template-columns: 1fr 287px;
			gap: 10px;
		}
		@media #{$lg,$md} {
			grid-template-columns: 1fr 287px;
			gap: 10px;
		}
		@media #{$sm,$xs} {
			background: #F1F1F1;
			border-radius: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__box{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #F1F1F1;
		border-radius: 15px;
		padding: 0 25px;
		@media #{$lg,$md,$sm,$xs} {
			padding: 25px 25px;
		}
		@media #{$sm,$xs} {
			background: inherit;
		}
	}
	&__icon{
		@media #{$sm,$xs} {
			display: none;
		}
	}
}