@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 header-common
/*----------------------------------------*/

.header {

	&__area {
		background-color: transparent;
	}

	&__logo {
		// max-width: 117px;
	}

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media #{$xs, $sm, $md, $lg} {
			padding: 15px 0;
		}
	}
}

.header-7 {
	&__area {
		padding-top: 25px;
	}

	.header__logo {
		width: 166px;
		height: 90px;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(7px);
		border-radius: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1053px;
		margin: 0 auto;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(7px);
		border-radius: 45px;
	}
	.rr-sticky {
		position: fixed;
		top: 0;
		z-index: 111;
		inset-inline-end: 0;
		inset-inline-start: 0;
		animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
		border-top: 0;
		background-color: #111111;
		left: 15px;
		right: 15px;
		top: 15px;
	}
}



.rr-sticky {
	position: fixed;
	top: 0;
	z-index: 111;
	inset-inline-end: 0;
	inset-inline-start: 0;
	// width: 100%;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	border-top: 0;
	background-color: var(--rr-theme-secondary);
	box-shadow: 0px 2px 4px rgba(29, 29, 29, 0.14);
}


.bar-icon {
	width: 26px;
	height: 18px;
	@include flexbox();
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	transition: color .2s ease-out;

	span {
		width: 100%;
		height: 2px;
		background: var(--rr-theme-primary);
		display: inline-block;
		transition: color .2s ease-out;

		&:nth-child(2) {
			margin-left: 0px;
		}
	}

	&:hover {
		span {
			animation: qode-draw .8s cubic-bezier(.44, 1.1, .53, .99) 1 forwards;

			&:nth-child(2) {
				margin-left: 0px;
				animation-delay: .1s;
			}

			&:nth-child(3) {
				animation-delay: .2s;
			}
		}
	}

	&.is-black {
		span {
			background: var(--rr-common-black);
		}
	}

	&.is-white {
		span {
			background: var(--rr-common-white);
		}
	}
}