@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 header-common
/*----------------------------------------*/
.header-1 {
	padding: 0;
	background-color: transparent;
	border-bottom: 1px solid rgb(255 255 255 / 10%);
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
	background: rgba(15, 13, 11, 0.02);
	backdrop-filter: blur(15px);

	&.rr-sticky {
		background-color: var(--rr-heading-primary);
	}

	@media (min-width: 1400px) {
	
		.container,
		.container-lg,
		.container-md,
		.container-sm,
		.container-xl,
		.container-xxl {
			max-width: 1626px;
		}
	}

	.header {

		&__logo {
			img {
				@media #{$xs} {
					max-width: 120px;
				}
			}
		}

		&__main {

			.mean {
				&__menu-wrapper {
					margin-left: auto;
				}
			}
			.main-menu {
				padding-right: 50px;
				margin-right: 50px;
				border-right: 1px solid rgb(255 255 255 / 10%);

				ul {
					 li {
						 @media (max-width:1199px) {
							 &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)) {
								 display: none;
							 }
						 }
					 }
				}
			}
			
		}

		&__hamburger {
			.sidebar__toggle {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.bar-icon {
				width: 65px;
				height: 12px;
				span {
					background-color: #D9D9D9;
					height: 2px;
				}
			}
		}
	}
}