// footer index
@forward 'footer-copyright';
@forward 'footer-copyright-2';
@forward 'footer-copyright-3';
@forward 'footer-copyright-5';
@forward 'footer';
@forward 'footer-2';
@forward 'footer-3';
@forward 'footer-5';
@forward 'footer-7';
@forward 'footer-10';
@forward 'footer-6';
