@use '../../utils' as *;

.banner-3 {
    position: relative;
    height: 820px;
    overflow: hidden;

    @media #{$lg, $md, $sm, $xs} {
        height: inherit;
     }

    @media #{$lg, $md, $sm, $xs} {

        &::after {
            background: #2c2926;
            backdrop-filter: blur(50px);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            z-index: -1;
        }
    }

    &__space {

        @media #{$lg, $md, $sm, $xs} {
           padding-bottom: 50px;
        }
    }

    &::before {
        background: rgba(8, 10, 11, 0.3);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";

        @media #{$lg, $md, $sm, $xs}  {
            background: #2c2926;
        }
    }

    .container {
        position: relative;

    }

    &__shape-1 {

        .img-1 {
            position: absolute;
            z-index: 9;
            left: -260px;
            top: 63px;
        }
        .img-2 {
            position: absolute;
            z-index: 9;
            left: -170px;
            top: 78px;
        }
    }
    &__shape-2 {
        .img-1 {
            position: absolute;
            z-index: 9;
            left: -113px;
            top: 373px;
        }
        .img-2 {
            position: absolute;
            z-index: 9;
            left: -173px;
            top: 388px;
            
        }
    }
    &__shape-3 {
        .img-1 {
            position: absolute;
            z-index: 9;
            left: 58px;
            bottom: -150px;
        }
        .img-2 {
            position: absolute;
            z-index: 9;
            left: 148px;
            bottom: -138px;
        }
    }

    &__content {
        position: relative;
        z-index: 9;
        margin-right: -56px;
        margin-top: 246px;

        @media #{$lg, $md, $sm, $xs} {
            margin-right: 0;
            margin-top: 100px;
        }
        @media #{$sm, $xs} {
            margin-right: 0;
            margin-top: 60px;
        }

        .subtitle {
            color: var(--rr-color-white);
            font-size: 24px;
            line-height: 34px;
            background-color: rgb(255 255 255 / 10%);
            padding: 4.5px 14px;
            margin-bottom: 4px;
            display: inline-block;

            @media #{$xs} {
                font-size: 20px;
            }
        }

        h1 {
            color: var(--rr-color-white);
            font-size: 80px;
            line-height: 90px;
            margin-bottom: 20px;

            @media #{$lg} {
                font-size: 60px;
                line-height:74px;
              }
              @media #{$md} {
                font-size: 44px;
                line-height:50px;
              }
              @media #{$sm} {
                font-size: 38px;
                line-height:50px;
              }
              @media #{$xs} {
                font-size: 32px;
                line-height:44px;
              }
        }

        p {
            color: var(--rr-color-white);
            font-size: 20px;
            font-weight: 500;

            @media #{$xs} {
                font-size: 18px;
            }
        }
    }

    &__btn-box {
        margin-top: 45px;
        display: flex;
        align-items: center;
        gap: 30px;

        @media #{$xs} {
            flex-direction: column;
            align-items: flex-start;
        }

        .rr-btn {
            background-color: transparent;
            border: 1px solid rgb(255 255 255 / 30%);
            padding: 12.5px 36.4px;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--rr-color-white);
                @include border-radius(500px);
            }

            a {
                color: var(--rr-color-white);
                font-size: 14px;


                &:hover {
                    color: var(--rr-theme-primary);
                }
            }
        }
    }

    &__media {
        position: relative;
        @media #{$lg, $md, $sm, $xs} {
            margin-top: 40px;
        }

        &__shape {
            background-repeat: no-repeat;
            background-size: cover;
            height: 950px;
            width: 400px;
            object-fit: cover;
            margin-left: -36px;
            position: relative;

            @media #{$lg, $md, $sm, $xs} {
                margin-left: 0;
                width: 100%;
                height: 100%;
            }

            .img {

                img {
                    object-fit: cover;
                    position: absolute;
                    right: -585px;
                    z-index: -1;
                    top: -112px;

                    @media #{$lg, $md, $sm, $xs} {
                        position: inherit;
                        right: inherit;
                        top: inherit;
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                    }
                    @media #{$sm, $xs} {
                        height: 300px;
                    }
                    @media #{$xs} {
                        height: 250px;
                    }
                }
            }

            .img-2 {
                top: 38%;
                left: 403px;
                transform: translate(-100%, -50%);
                position: absolute;

                @media #{$lg, $md, $sm, $xs} {
                    display: none;
                }
            }
        }

    }
}