@use '../../utils' as *;

// .hero-section-7 css
.hero-section-7 {
    &__wrapper {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 160px;
        padding-bottom: 50px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &__info {
        text-align: center;
        position: relative;
        z-index: 1;
        margin-bottom: 140px;
        
        @media #{$lg,$md} {
            margin-bottom: 60px;
        }
        @media #{$sm,$xs} {
            margin-bottom: 40px;
        }
        .sub-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            color: #FFFFFF;
            font-family: var(--rr-ff-body);
            margin-bottom: 19px;
        }

        .title {
            font-weight: 500;
            font-size: 130px;
            line-height: 110px;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            max-width: 733px;
            margin: 0 auto;
            @media #{$md,$sm} {
                font-size: 91px;
                line-height: 93px;
            }
            @media #{$xs} {
                font-size: 58px;
                line-height: 62px;
            }
        }
    }

    &__wrap {
        margin-top: 165px;
        max-width: 300px;
        position: relative;
        z-index: 1;
        @media #{$lg,$md} {
            margin-top: 128px;
        }
        @media #{$sm,$xs} {
            margin-top: 0;
        }
        .content {
            .title {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
                color: #FFFFFF;
                font-family: var(--rr-ff-body);
            }

            .decs {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
                color: #999999;
                font-family: var(--rr-ff-body);
            }
        }
    }

    &__services {
        margin-top: 47px;

        @media #{$xs,$sm} {
            margin-top: 30px;
        }

        .list {
            list-style: none;

            li {
                a {
                    display: flex;
                    padding: 12px 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -0.03em;
                    color: #FFFFFF;
                    font-family: var(--rr-ff-body);
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                    justify-content: space-between;
                }

                &:last-child {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
            }
        }
    }

    &__inner {
        position: relative;
        z-index: 1;
        @media #{$sm,$xs} {
            margin-top: 30px;
        }
        .hero-logo {
            text-align: right;
            @media #{$sm,$xs} {
                text-align: start;
            }
        }
    }

    &__box {
        margin-left: -3px;
        margin-top: 99px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(7px);
        border-radius: 15px;
        padding: 38px 40px 39px 40px;
        @media #{$lg,$md} {
            margin-top: 60px;
        }
        @media #{$sm} {
            margin-left: 0;
            margin-top: 40px;
        }
        @media #{$xs} {
            margin-left: 0;
            margin-top: 40px;
            padding: 30px 20px 30px 20px;
        }
        .text {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: rgba(255, 255, 255, 0.5);
            font-family: var(--rr-ff-body);
            margin-bottom: 34px;
        }

        .rr-btn {
            background: #FFFFFF;
            border: 1px solid rgba(17, 17, 17, 0.15);
            border-radius: 43px;
            gap: 5px;
            padding: 11.5px 24.5px;

            .text-one {
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.03em;
                text-transform: uppercase;
                color: #111111;
                font-family: var(--rr-ff-body);

                & i {
                    color: #111111;
                    font-size: 16px;
                }
            }

            .text-two {
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.03em;
                text-transform: uppercase;
                color: #111111;
                font-family: var(--rr-ff-body);
                & i {
                    color: #111111;
                    font-size: 16px;
                }
            }
        }
    }
}