@use '../../utils' as *;


// hero-6 css

.hero-6 {
    &__wrapper {
        position: relative;
        padding-top: 208px;
        padding-bottom: 156px;
        @media #{$lg,$md,$sm,$xs} {
            padding-bottom: 110px;
            padding-top: 150px;
        }
    }
    &__shapes{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
    &__inner {
        text-align: center;
        position: relative;
        z-index: 1;
    }

    &__content {
        text-align: center;

        .sub-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
        }

        .title {
            font-weight: 500;
            font-size: 180px;
            line-height: 145px;
            letter-spacing: -0.06em;
            text-transform: uppercase;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
            margin-top: 43px;
            margin-bottom: 37px;
            & span {
                font-family: "Tartuffo_Trial-Light";
                font-weight: 300;
                font-style: italic;
            }
            @media #{$lg} {
                font-size: 100px;
                line-height: 105px;
                margin-top: 30px;
            }
            @media #{$md} {
                font-size: 78px;
                line-height: 95px;
                margin-top: 30px;
                margin-bottom: 25px;
            }
            @media #{$sm} {
                font-size: 60px;
                line-height: 66px;
                margin-top: 30px;
                margin-bottom: 25px;
            }
            @media #{$xs} {
                font-size: 48px;
                line-height: 55px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .decs {
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -0.05em;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
            max-width: 677px;
            margin: 0 auto;
            @media #{$xs} {
                font-size: 34px;
                line-height: 41px;
            }
        }
    }

    &__btn {
        margin-top: 63px;
        @media #{$md,$sm,$xs} {
            margin-top: 40px;
        }
        .rr-btn__header {
            background: #111111;
            border: 1px solid rgba(17, 17, 17, 0.1);
            border-radius: 35px;
            padding: 24px 37.5px;
            display: inline-flex;

            .text-one {
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: -0.05em;
                color: #FFFFFF;
                font-family: var(--rr-ff-heading-2);

                & i {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .text-two {
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: -0.05em;
                color: #FFFFFF;
                font-family: var(--rr-ff-heading-2);

                & i {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}