@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 blog
/*----------------------------------------*/
.blog {

  &__item {
    margin-bottom: 30px;

    &-media {
      overflow: hidden;
      position: relative;
      @include border-radius(0);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @extend %rr-transition-3;
      }
    }

    &-meta {
      gap: 5px;
      list-style: none;

      a {
        font-size: 14px;
        font-weight: var(--rr-fw-medium);
      }
    }

    &__content {
      margin-top: 25px;

      h6 {
        font-weight: var(--rr-fw-sbold);
      }
    }


    &:hover {
      .blog__item-media {

        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

// blog-7 css

.blog-7 {
  .section-7__info {
    .section-7__title {
      @media #{$xl} {
        font-size: 45px;
        line-height: 49px;
      }
    }
  }

  &__item {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(17, 17, 17, 0.4);
      border-radius: 15px;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
      z-index: 1;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
      overflow: hidden;
    }

    &:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }

      img {
        transform: scale(1.1);
        -webkit-filter: grayscale(0);
      }

      .blog-7 {
        &__meta {
          opacity: 1;
          visibility: visible;
          top: 35px;
        }

        &__content {
          bottom: 35px;
          opacity: 1;
          visibility: visible;
        }
      }
    }

  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0px;
    left: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    z-index: 2;

    @media #{$sm,$xs} {
      left: 15px;
    }

    & span {
      display: inline-block;
      background-color: var(--rr-common-white);
      border-radius: 15px;
      font-weight: 500;
      font-size: 14px;
      line-height: 27px;
      color: #111111;
      font-family: var(--rr-ff-body);
      padding: 1.5px 14.5px;
    }
  }

  &__content {
    position: absolute;
    left: 25px;
    bottom: 0px;
    right: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    z-index: 2;

    .title {
      font-weight: 500;
      font-size: 27px;
      line-height: 27px;
      letter-spacing: -0.05em;
      color: var(--rr-common-white);
      font-family: var(--rr-ff-body);
      max-width: 348px;
      & a {
        background: linear-gradient(var(--rr-common-white) 0%, var(--rr-common-white) 98%);
        background-size: 0 2px;
        background-repeat: no-repeat;
        background-position: left 100%;
        color: var(--rr-common-white);
        transition: all 0.3s ease-in-out;

        &:hover {
            color:var(--rr-common-white);
            background-size: 100% 2px;
        }
    }
      @media #{$xs} {
        font-size: 22px;
        line-height: 27px;
      }
    }
  }
}

// blog-section-6 css

.blog-section-6 {
  &__thumb {
    position: relative;
    overflow: hidden;
    border-radius: 15px;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(17, 17, 17, 0.3);
      border-radius: 15px;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
      z-index: 1;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
      overflow: hidden;
    }

    &:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }

      img {
        transform: scale(1.1);
        -webkit-filter: grayscale(0);
      }

      .blog-section-6 {
        &__meta {
          opacity: 1;
          visibility: visible;
          top: 35px;
          @media #{$lg,$md,$sm,$xs} {
            top: 15px;
          }
        }

        &__content {
          bottom: 35px;
          opacity: 1;
          visibility: visible;
          @media #{$lg,$md,$sm,$xs} {
            bottom: 15px;
          }
        }
      }
    }

  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0px;
    left: 35px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    z-index: 2;
    @media #{$lg,$md,$sm,$xs} {
      left: 15px;
    }

    & span {
      display: inline-block;
      background-color: var(--rr-common-white);
      font-weight: 500;
      font-size: 14px;
      line-height: 27px;
      color: #111111;
      font-family: var(--rr-ff-heading-2);
      padding: 1.5px 19px;
      border-radius: 15px;
    }
  }

  &__content {
    position: absolute;
    left: 35px;
    bottom: 0px;
    right: 35px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    z-index: 2;
    @media #{$lg,$md,$sm,$xs} {
      left: 15px;
      bottom: 0px;
      right: 15px;
    }
    .title {
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.05em;
      color: var(--rr-common-white);
      font-family: var(--rr-ff-heading-2);

      @media #{$xl} {
        font-size: 32px;
        line-height: 35px;
      }
      @media #{$lg,$md} {
        font-size: 30px;
        line-height: 39px;
      }
      @media #{$xs,$sm} {
        font-size: 26px;
        line-height: 39px;
      }
      & a {
        background: linear-gradient(var(--rr-common-white) 0%, var(--rr-common-white) 98%);
        background-size: 0 2px;
        background-repeat: no-repeat;
        background-position: left 100%;
        color: var(--rr-common-white);
        transition: all 0.3s ease-in-out;

        &:hover {
            color:var(--rr-common-white);
            background-size: 100% 2px;
        }
    }
    }
  }

  &__btn {
    margin-top: 20px;

    .learn-more-btn {
      border: 1px solid rgba(17, 17, 17, 0.05);
      border-radius: 15px;
      padding: 25px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all .3s ease-in-out;

      &:hover {
        background: #F1F1F1;
        border: 1px solid rgba(17, 17, 17, 0.05);
        border-radius: 15px;
      }

      & span {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.05em;
        color: #111111;
        font-family: var(--rr-ff-heading-2);
      }

      & i {
        color: #111111;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}