@use '../../utils' as *;

.about-us {

    &__media {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__box {
        width: 250px;
        height: 100px;
        background-color: var(--rr-common-white);
        display: flex;
        align-items: center;
        position: absolute;
        top: 50px;
        right: 50px;
        padding: 20px 30px;
        gap: 13px;
        box-shadow: inset 0px 4px 0px #906E50;

        @media #{$xs} {
            right: 1px;
            bottom: 1px;
            top: inherit;
            width: 225px;
            padding: 10px 15px;
            height: 88px;
        }

        h6 {
            font-weight: var(--rr-fw-sbold);
            font-family: var(--rr-ff-body);
        }

        h4 {

            span {
                font-family: var(--rr-ff-body);
                letter-spacing: 2px;
            }
        }

    }

    &__socail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 22px;
        width: 60px;
        height: 213px;
        font-size: 18px;
        color: var(--rr-common-white);
        background-color: var(--rr-theme-primary);
        padding: 30px 24px;
        transform: translate(-50%, -50%);
        top: 50%;
        position: absolute;

        @media #{$xs} {
            bottom: 0;
            top: inherit;
            transform: translate(0, 0%);
        }

        a {
            &:hover {
                color: var(--rr-heading-primary);
            }
        }
    }

    &__content {
        padding-left: 40px;
        overflow: hidden;

        @media #{$lg, $md, $sm, $xs} {
            padding-left: 0;
            margin-top: 40px;
        }

        .section {
            &__title-wrapper {
                max-width: 541px;
            }
        }

        .rr-btn {
            padding: 13.5px 30.5px;
        }
    }

    .skill-one__progress {
        position: relative;
        display: block;
        width: 100%;

        &-single {
            position: relative;
            display: block;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-title {
            font-size: 16px;
            font-family: var(--rr-ff-body);
            font-weight: 500;
            margin-bottom: 6px;
        }

        .bar {
            position: relative;
            width: 100%;
            height: 4px;
            background: #C4C4C4;
            margin-bottom: 0;
        }

        .bar-inner {
            position: relative;
            display: block;
            width: 0;
            height: 4px;
            transition: all 1500ms ease;
            background: var(--rr-theme-primary);
        }

        .count-text {
            position: absolute;
            top: -41px;
            right: 0;
            transition: all 500ms ease;
            opacity: 1;
            font-style: normal;
            font-family: var(--rr-ff-exo);
            font-weight: 400;
            font-size: 16px;
            line-height: 36px;
            color: var(--rr-heading-primary);
        }
    }
}


.banner-7-img {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(17, 17, 17, 0.3);
    }
}

// about-7 css

.about-7 {
    &__info {
        text-align: center;
        padding: 0 10px;
        margin-bottom: 60px;

        @media #{$md,$sm,$xs} {
            margin-bottom: 40px;
            ;
        }

        .title {
            font-weight: 500;
            font-size: 48px;
            line-height: 53px;
            letter-spacing: -0.05em;
            color: #111111;
            max-width: 820px;
            margin: 0 auto;

            @media #{$md,$sm} {
                font-size: 34px;
                line-height: 43px;
            }

            @media #{$xs} {
                font-size: 26px;
                line-height: 32px;
            }
        }
    }

    &__thumb {
        margin-left: 27px;
        position: relative;
        @media #{$md,$sm,$xs} {
            margin-left: 0;
            max-height: 450px;
            height: 100%;
        }
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(17, 17, 17, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.05);
            border-radius: 15px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;

            @media #{$md,$sm,$xs} {
                max-height: 450px;
            }
        }
    }

    &__wrapper {
        margin-right: -27px;

        @media #{$md,$sm,$xs} {
            margin-right: 0;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 71px;
        background: #F1F1F1;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 15px;
        padding: 34px;
        margin-bottom: 10px;

        @media #{$xl} {
            gap: 30px;
        }

        @media #{$lg,$md,$sm,$xs} {
            padding: 30px 15px;
            gap: 25px;
        }

        @media #{$sm} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        border-bottom: 1px solid rgba(17, 17, 17, 0.1);
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding: 18px 0 14px 0;

        .number {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.30px;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
        }
    }

    &__content {
        margin-top: 98px;

        @media #{$xl,$lg,$md,$sm,$xs} {
            margin-top: 40px;
        }

        .title {
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: -0.05em;
            color: #111111;
            font-family: var(--rr-ff-body);
            margin-bottom: 15px;
        }

        .decs {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: #555555;
            max-width: 251px;
            margin-bottom: 0;
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: 394px 1fr;
        gap: 11px;

        @media #{$lg,$md,$sm} {
            grid-template-columns: 282px 1fr;
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__studio {
        background: #F1F1F1;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 15px;
        padding: 30px 0 35px 0;

        .title {
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.05em;
            color: #111111;
            border: 1px solid rgba(17, 17, 17, 0.1);
            border-radius: 15px;
            text-align: center;
            padding: 19.5px 20px;

            @media #{$lg,$md,$sm,$xs} {
                font-size: 22px;
                line-height: 26px;
                padding: 15px 20px;
            }
        }

        .text {
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: -0.04em;
            color: rgba(17, 17, 17, 0.5);
            font-family: var(--rr-ff-heading-2);
            margin-left: 25px;
            margin-top: 56px;
            max-width: 330px;
            margin-bottom: 22px;
        }
    }

    &__btn {
        margin-left: 25px;

        .rr-btn {
            background: #FFFFFF;
            border: 1px solid rgba(17, 17, 17, 0.15);
            border-radius: 43px;
            gap: 5px;
            padding: 11.5px 24.3px;

            .text-one {
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: #111111;
                font-family: var(--rr-ff-heading-2);

                & i {
                    color: #111111;
                    font-size: 16px;
                }
            }

            .text-two {
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: #111111;
                font-family: var(--rr-ff-heading-2);

                & i {
                    color: #111111;
                    font-size: 16px;
                }
            }
        }
    }

    &__thumb-box {
        background: #F1F1F1;
        border: 1px solid rgba(255, 255, 255, 0.04);
        border-radius: 15px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
}


// about-section-8 css
.about-section-8 {
    &__content {
        display: grid;
        padding-top: 65px;
        padding-bottom: 103px;
        position: relative;
        justify-content: space-between;
        grid-template-columns: 1fr 144px;
        gap: 20px;

        &::before {
            content: '';
            left: 0;
            top: 108px;
            width: 100%;
            height: 1px;
            display: block;
            position: absolute;
            background: rgba(17, 17, 17, 0.1);

            @media #{$xs} {
                display: none;
            }
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
            padding-bottom: 20px;
        }

    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.03em;
        color: #111111;
        padding-bottom: 21px;
        font-family: var(--rr-ff-body);

        @media #{$xs} {
            padding-bottom: 0;
        }
    }

    &__item {
        &:nth-child(2) {
            display: block;
        }

        @media #{$xs} {
            margin-bottom: 10px;
        }
    }

    &__desc {
        font-weight: 500;
        font-size: 48px;
        line-height: 53px;
        letter-spacing: -0.05em;
        color: #111111;
        font-family: var(--rr-ff-heading);
        max-width: 756px;
        margin-top: 25px;

        @media #{$md,$sm} {
            font-size: 38px;
            line-height: 45px;
        }

        @media #{$sm,$xs} {
            font-size: 29px;
            line-height: 36px;
        }
    }

    &__list {
        padding-top: 31px;
        list-style: none;

        @media #{$xs} {
            padding-top: 25px;
        }

        li {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: rgb(17 17 17 / 30%);
            font-family: var(--rr-ff-body);

            @media #{$xs} {
                font-size: 17px;
            }

            &.active {
                color: #111111;
            }
        }
    }
}

.bg-9-border {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        left: 300px;
        top: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        background: rgba(17, 17, 17, 0.05);

        @media #{$xxl} {
            left: 50px;
        }

        @media #{$xl,$lg,$md,$sm,$xs} {
            display: none;
        }
    }

    &::after {
        position: absolute;
        content: '';
        right: 300px;
        top: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        background: rgba(17, 17, 17, 0.05);

        @media #{$xxl} {
            right: 50px;
        }

        @media #{$xl,$lg,$md,$sm,$xs} {
            display: none;
        }
    }
}


// about-10 css

.about-10 {
    &__content {
        margin-bottom: 39px;
        .title {
            font-weight: 500;
            font-size: 100px;
            line-height: 108px;
            letter-spacing: -0.05em;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
            max-width: 1511px;
            margin-bottom: 40px;

            & span {
                font-family: "Tartuffo_Trial-Regula";
                font-style: italic;
                font-weight: 100;
            }
            @media #{$xl} {
                font-size: 82px;
                line-height: 90px;
            }
            @media #{$lg} {
                font-size: 70px;
                line-height: 83px;
                margin-bottom: 25px;
            }
            @media #{$md} {
                font-size: 53px;
                line-height: 60px;
                margin-bottom: 25px;
            }
            @media #{$sm} {
                font-size: 39px;
                line-height: 52px;
                margin-bottom: 25px;
            }
            @media #{$xs} {
                font-size: 32px;
                line-height: 42px;
                margin-bottom: 25px;
            }
        }

        .decs {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #555555;
            font-family: var(--rr-ff-heading-2);
            max-width: 529px;
        }
    }

    &__btn {
        .rr-btn {
            background: #111111;
            border-radius: 100px;
            padding: 16px 33.4px;
            .text-one{
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                line-height: 14px;
                letter-spacing: -0.02em;
                color: #FFFFFF;
                font-family: var(--rr-ff-heading-2);
                & i{
                    transform: rotate(-45deg);
                }                 
            }
            .text-two{
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                line-height: 14px;
                letter-spacing: -0.02em;
                color: #FFFFFF;
                font-family: var(--rr-ff-heading-2);
                & i{
                    transform: rotate(-45deg);
                }                 
            }
        }
    }
}