@use '../../utils' as *;

.about-company {
    &__media {
        position: relative;

        @media #{$xs} {
            margin-top: -80px;
        }

        img {
            @media #{$xs, $sm, $md, $lg, $xl} {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    &__shape-left {
        position: absolute;
        top: 17px;
        left: 166px;

        @media #{$xs, $sm, $md, $lg} {
            display: none;
        }
    }

    &__shape-top {
        margin-left: -235px;
        top: 375px;
        position: absolute;

        @media #{$xs, $sm, $md, $lg} {
            display: none;
        }
    }

    &__thumb-1 {
        width: 404px;
        height: 420px;
        background-color: var(--rr-common-white);
        border: 1px dashed rgba(8, 10, 11, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 105px;
        left: 0;

        @media #{$xs, $sm, $md} {
            position: inherit;
        }

        @media #{$xs} {
            position: inherit;
            max-width: 100%;
            width: 1005px;
            margin-bottom: 150px;
        }

    }

    &__thumb-2 {
        width: 330px;
        position: absolute;
        top: 0;
        right: 0;
        height: 390px;
        background-color: var(--rr-common-white);
        border: 1px dashed rgba(8, 10, 11, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{$xs} {
            position: inherit;
            max-width: 100%;
            width: 100%;
        }
    }

    &__customer {
        position: absolute;
        top: 420px;
        align-items: center;
        gap: 7px;
        display: flex;
        right: 0;

        h2 {
            font-size: 60px;
            color: var(--rr-theme-primary);
            font-family: var(--rr-ff-body);

            span {
                font-size: 60px;
                font-weight: 800;
                color: var(--rr-theme-primary);
                font-family: var(--rr-ff-body);
            }

            .odometer {
                font-family: var(--rr-ff-body);
                letter-spacing: 5px;
            }
        }

        h6 {
            font-weight: var(--rr-fw-regular);
            font-size: 16px;
            line-height: 22px;
            font-family: var(--rr-ff-body);
        }
    }

    &__content {
        padding-left: 25px;

        @media #{$xs, $sm, $md, $lg} {
            padding-left: 0;
        }

        @media #{$xs, $sm, $md} {
            margin-top: 150px;
        }

        @media #{$xs} {
            margin-top: 50px;
        }

        .rr-btn {
            padding: 13.5px 30.4px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 60px;
        align-items: center;
        margin-bottom: 60px;

        @media #{$lg, $md, $sm, $xs} {
            flex-wrap: wrap;
        }

        ul {
            li {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--rr-heading-primary);

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__box {
        .circle {
            display: flex;
            align-items: center;
            position: relative;
            border-radius: 500px;
            justify-content: center;
            width: 90px;
            height: 90px;

        }

        .logo {
            width: 50px;
            height: 50px;
            @include border-radius(500px);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--rr-theme-primary);

            img {
                max-width: 36px;
                height: 30px;

            }
        }

        .circle-text {
            width: 100%;
            height: 100%;
            font-size: 14px;
            position: absolute;
            color: var(--rr-heading-primary);
            animation: textRotation 8s linear infinite;
        }

        @keyframes textRotation {
            to {
                transform: rotate(360deg);
            }
        }

        .circle-text span {
            left: 50%;
            top: -21%;
            color: var(--rr-heading-primary);
            font-size: 8px;
            position: absolute;
            transform-origin: 0 64px;
            font-weight: 700;
            text-transform: uppercase;

            // @media #{$lg, $md, $sm} {
            //     transform-origin: 0 64px;
            // }
            // @media #{$xs} {
            //     transform-origin: 0 57px;
            //     top: 4px;
            // }
        }

    }
}

// company-section-9 css

.company-section-9 {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 351px 355px;
        gap: 20px;
        @media #{$lg} {
            grid-template-columns: 1fr 300px 270px;
        }
        @media #{$md,$sm} {
            grid-template-columns: repeat(2,1fr);
        }
        @media #{$xs} {
            grid-template-columns: repeat(1,1fr);
        }

    }

    &__box{
        background: #F1F1F1;
        border: 1px solid rgba(17, 17, 17, 0.05);
        border-radius: 15px;
        padding: 30px 35px 35px 35px;
        @media #{$sm,$xs} {
            padding: 30px 20px 35px 20px;
        }
    }

    &__info {
        .sub-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-body);
            display: block;
            margin-bottom: 24px;
        }

        .title {
            font-weight: 500;
            font-size: 36px;
            line-height: 36px;
            letter-spacing: -0.05em;
            color: #111111;
            margin-bottom: 42px;
            @media #{$sm,$xs} {
                font-size: 28px;
                line-height: 33px;
                margin-bottom: 20px;
            }

            & span {
                font-style: italic;
                font-family: 'Tartuffo_Trial-Regular';
                font-weight: 500;
                text-decoration-line: underline;
            }
        }


    }

    &__content {
        margin-bottom: 66px;
        @media #{$sm,$xs} {
            margin-bottom: 30px;
        }
        .decs {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-body);
            margin-bottom: 20px;

        }
    }

    &__btn {
        .rr-btn {
            background: #111111;
            border: 1px solid rgba(17, 17, 17, 0.15);
            border-radius: 43px;
            padding: 11.5px 28.5px;

            .text-one {
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.03em;
                text-transform: uppercase;
                color: #FFFFFF;
                text-transform: uppercase;
                display: flex;
                align-items: center;

                & i {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    margin-left: 4px;
                }
            }

            .text-two {
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.03em;
                text-transform: uppercase;
                color: #FFFFFF;
                text-transform: uppercase;
                display: flex;
                align-items: center;

                & i {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    margin-left: 4px;
                }
            }
        }
    }
    &__counter-box{
        background: #F1F1F1;
        border: 1px solid rgba(17, 17, 17, 0.05);
        border-radius: 15px;
        padding: 14px 35px 29px 35px;
        @media #{$sm,$xs} {
            padding: 14px 20px 29px 20px;
        }
    }

    &__item {
        margin-bottom: 41px;
        &:last-child{
            margin-bottom: 0;
        }
        & h2 {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 80px;
            line-height: 1;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-heading);
            display: flex;
            align-items: center;

            & span {
                font-weight: 500;
                font-size: 80px;
                line-height: 1;
                letter-spacing: -0.03em;
                color: #111111;
                font-family: var(--rr-ff-heading);
            }
        }

        .text {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: #555555;
            font-weight: 500;
            margin-bottom: 0;
            & span {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.03em;
                color: #111111;
            }
        }
    }

    &__image{
        background: #F1F1F1;
        border: 1px solid rgba(17, 17, 17, 0.04);
        border-radius: 15px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}