@use '../../utils' as *;

.experience {
  position: relative;
  padding: 59px 0;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--rr-heading-primary);
    width: 100%;
    height: 100%;
    opacity: 86%;
    top: 0;
  }

  &__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;

    @media #{$xxs} {
      flex-direction: column;
    }

  }

  &__item {
    &-content {
      gap: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      z-index: 9;
      position: relative;


      &-text {
        h2 {
          position: relative;
          margin-bottom: 4px;
          letter-spacing: 4px;
          color: var(--rr-common-white);
          font-weight: var(--rr-fw-sbold);

          &::before {
            content: "";
            height: 1px;
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(120px);
            transform: translate(-50%, 0px);
            background-color: rgb(255 255 255 / 30%);
          }

          .odometer {
            font-family: var(--rr-ff-heading);
          }
        }

        h6 {
          font-weight: 400;
          font-size: 18px;
          padding-bottom: 10px;
          color: var(--rr-common-white);
          text-transform: capitalize;
        }
      }
    }
  }
}


// expertise-6 css

.expertise-6 {
  &__wrapper {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.25);
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media #{$xs} {
        height: 350px;
    }
    }
  }

  &__inner {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    padding: 48.5px 50px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    max-width: 1047px;
    @media #{$md,$sm,$xs} {
      padding: 40px 25px;
      position: absolute;
      bottom: 30px;
      left: 20px;
      right: 20px
  }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    & li {
      list-style: none;

      & a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        font-family: var(--rr-ff-heading-2);
        & i{
          margin-left: 15px;
          font-size: 10px;
          line-height: 20px;
          font-weight: 300;
        }
      }
    }
  }
}