@use '../../utils' as *;

// service-section-9 css

.service-section-9 {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 528px;
        gap: 35px;

        @media #{$md,$sm,$xs} {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__info {
        .title {
            font-weight: 500;
            font-size: 36px;
            line-height: 36px;
            letter-spacing: -0.05em;
            color: #111111;
            max-width: 478px;

            @media #{$md,$sm,$xs} {
                max-width: 100%;
            }

            @media #{$xs} {
                font-size: 28px;
                line-height: 36px;
            }

            & span {
                font-style: italic;
                font-family: 'Tartuffo_Trial';
                font-weight: 300;
            }
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: 228px 265px;
        gap: 35px;

        @media #{$xs} {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__item {
        background: #F1F1F1;
        border: 1px solid rgba(17, 17, 17, 0.05);
        border-radius: 15px;
        padding: 27px 35px 26px 35px;

        @media #{$md,$sm,$xs} {
            padding: 27px 20px 26px 20px;
        }

        .title {
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-body);
            margin-bottom: 22px;

            @media #{$md,$sm} {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    &__list {
        & li {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-heading);
            list-style: none;
        }
    }
}


.service-section-10 {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 473px;
        gap: 35px;

        @media #{$md,$sm,$xs} {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__info {
        .title {
            font-weight: 500;
            font-size: 50px;
            line-height: 54px;
            letter-spacing: -0.04em;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
            max-width: 675px;
            -webkit-text-stroke: 2px rgba(17, 17, 17, 0.2);

            @media #{$md,$sm,$xs} {
                max-width: 100%;
            }

            @media #{$xs} {
                font-size: 28px;
                line-height: 36px;
            }

            & span {
                font-style: italic;
                font-family: 'Tartuffo_Trial-Regular';
                font-weight: 400;
            }
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: 158px 195px;
        gap: 120px;

        @media #{$xs} {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__item {
        .title {
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
            margin-bottom: 23px;

            @media #{$md,$sm} {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    &__list {
        & li {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
            list-style: none;
        }
    }

    .section-9 {
        &__info {
            border-bottom: 1px solid rgba(17, 17, 17, 0.1);
            padding-bottom: 20px;
            margin-bottom: 50px;
            flex-wrap: wrap;

            @media #{$sm,$xs} {
                margin-bottom: 30px;
            }
        }

        &__sub-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
        }
    }
}

// services-section-6 css

.services-section-6 {
    &__wrapper {
        display: grid;
        grid-template-columns: 1115px 1fr;
        gap: 20px;
        @media #{$xxl} {
            grid-template-columns: 950px 1fr;
        }
        @media #{$xl} {
            grid-template-columns: 790px 1fr;
        }
        @media #{$lg} {
            grid-template-columns: 610px 1fr;
        }
        @media #{$md,$sm,$xs} {
            grid-template-columns:  1fr;
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: 515px 1fr;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
        @media #{$xxl} {
            grid-template-columns: 458px 1fr;
        }
        @media #{$xl} {
            grid-template-columns: 362px 1fr;
        }
        @media #{$lg,$md} {
            grid-template-columns: 310px 1fr;
        }
        @media #{$md,$sm} {
            grid-template-columns: repeat(2,1fr);
        }
        @media #{$xs} {
            grid-template-columns: repeat(1,1fr);
        }
    }

    &__info {
        padding: 30px 35px 30px 35px;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
        @media #{$lg,$md,$sm,$xs} {
            padding: 30px 20px 30px 20px;
        }
        .sub-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
            padding-left: 50px;
            max-width: fit-content;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 1px;
                width: 40px;
                background: #111111;
            }

            &::after {
                position: absolute;
                content: '';
                right: -50px;
                top: 50%;
                transform: translateY(-50%);
                height: 1px;
                width: 40px;
                background: #111111;
            }
        }

        .title {
            font-weight: 500;
            font-size: 50px;
            line-height: 50px;
            letter-spacing: -0.05em;
            color: #111111;
            font-family: var(--rr-ff-heading-2);
            margin-bottom: 348px;
            margin-top: 27px;

            @media #{$xxl} {
                font-size: 44px;
                line-height: 48px;
                margin-bottom: 348px;
            }
            @media #{$xl} {
                font-size: 40px;
                line-height: 46px;
                margin-bottom: 338px;
            }

            @media #{$lg} {
                font-size: 40px;
                line-height: 46px;
                margin-bottom: 348px;
            }
            @media #{$md} {
                font-size: 40px;
                line-height: 46px;
                margin-bottom: 130px;
            }

            @media #{$sm} {
                margin-bottom: 25px;
                font-size: 31px;
                line-height: 40px;        
            }
            @media #{$xs} {
                margin-bottom: 25px;
                font-size: 32px;
                line-height: 41px;
                margin-top: 20px;
            }
        }

        .text {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: rgba(17, 17, 17, 0.5);
            font-family: var(--rr-ff-heading-2);
            margin-bottom: 0;
            max-width: 328px;
        }
    }

    &__thumb {
        padding: 35px;
        @media #{$lg,$md,$sm,$xs} {
            padding: 15px;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.03em;
        color: #111111;
        font-family: var(--rr-ff-heading-2);
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
        padding: 30px 25px;
        margin-bottom: 5px;
        position: relative;
        position: relative;
        z-index: 1;
        @media #{$xs} {
            font-size: 16px;
            line-height: 22px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            height: 0%;
            width: 100%;
            background: #F1F1F1;
            border-radius: 15px;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in-out;
        }
        &:hover{
            &::before {
                height: 100%;
                opacity: 1;
                visibility: visible;
            }
            & a {
                & i {
                    transform: rotate(-40.62deg);
                }
            }
        }
        & span{
            position: relative;
            z-index: 1;
        }
        & a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
            z-index: 1;

            & i {
                font-size: 15px;
                font-weight: 500;
                line-height: 15px;
                transition: all .3s ease-in-out;
            }
        }
    }
}