@use '../../utils' as *;

.testimonial-2 {
    position: relative;
    background-color: #080A0B;
    .row {
        --bs-gutter-x: 0px;
    }
    &__left-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(50% - 0px);
        img {
            width: 100%;
            height: 100%;
            opacity: 0.1;
            object-fit: cover;
        }
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgb(8 10 11 / 10%);
    }

    &__media {
        
        img {
            height: 100%;
            object-fit: cover;

            @media #{$lg, $md, $sm, $xs} {
               width: 100%;
               height: 450px;
            }
            @media #{$sm, $xs} {
               width: 100%;
               height: 350px;
            }
        }
    }

    &-content {
        max-width: 483px;
        margin-left: 315px;

        @media #{$xxl, $xl, $lg, $md, $sm, $xs} {
            margin-left: 20px;
            max-width: 100%;
        }

        @media #{$lg, $md, $sm, $xs} {
            padding-top: 40px;
        }
    }

    &__background {
        position: relative;
        z-index: 9;
        background-color: var(--rr-theme-primary);
        padding: 78px 60px;
        margin-right: -95px;

        @media #{$lg, $md, $sm, $xs} {
           margin-right: 0;
           padding: 50px;
         }
        @media #{$xs} {
           margin-right: 0;
           padding: 30px 15px;
         }

    }

    &__content {
        max-width: 680px;
        margin-left: auto;

        @media #{$xxl, $xl, $lg, $md, $sm, $xs} {
            max-width: 530px;
        }
        @media #{$lg, $md, $sm, $xs} {
            margin-left: inherit;
            max-width: 680px;
        }
        
        
        p {
            color: rgb(255 255 255 / 70%);
            font-size: 20px;
            font-weight: 400;
            line-height: 34px;

            @media #{$xxl, $xl, $lg, $md, $sm, $xs} {
                font-size: 18px;
            }

            @media #{$xs} {
                font-size: 16px;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__author {
        gap: 14px;
        display: flex;
        align-items: center;

        &-media {
            width: 80px;
            height: 80px;
            overflow: hidden;
            @include border-radius(500px);

            @media #{$xs} {
                width: 60px;
                height: 60px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-text{
            h6 {
                color: var(--rr-common-white);
                @extend %rr-transition-3;
                font-weight: var(--rr-fw-sbold);

                &:hover {
                    a {
                        color: var(--rr-heading-primary);
                    }
                }
            }

            span {
                color: var(--rr-common-white);
            }
        }

    }

    &__icon {

        img {
            opacity: 0.3;
        }
    }

    &__slider {
        z-index: 99999;
        position: relative;

        
        &-dot {
        @media #{$lg, $md, $sm, $xs} {
            display: none;
        }
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0;
          z-index:1;
          justify-content: center;
          position: absolute;
          left: 0 !important; 
          flex-direction: column;
          transform: translate(-49%, -50%);
          top: 50% !important;
    
          .swiper-pagination-bullet {
            width: 16px;
            height:16px;
            padding: 0;
            margin: 0 !important;
            @include border-radius(500px);
            overflow: hidden;
            background: transparent;
            display: flex;
            position: relative;
            border: 2px solid var(--rr-common-white);
            @extend %rr-transition-3;
    
            &-active {
              border-color: var(--rr-common-white);
            }
          }
        }
      }

   
}