@use '../../utils' as *;

.why-choose-us {

    &__content {
        max-width: 412px;
    }

    &__item {
        display: flex;
        gap: 30px;

        @media #{$xs} {
            gap: 15px;
        }

        &:not(:last-child) {
            margin-bottom: 70px;

            @media #{$md,$sm, $xs} {
                margin-bottom: 50px;
            }
            @media #{$xs} {
                margin-bottom: 30px;
            }
        }
    }

    &__icon {
        margin-top: 8px;
    }

    &__text {

        h6 {
            color: var(--rr-common-black);
            font-weight: var(--rr-fw-sbold);
        }

        p {

        }
    }

    &__media {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        &.img1 {
            border-radius: 120px 0px; 

            @media #{$md,$sm, $xs} {
                margin-top: 30px;
            }
            @media #{ $xs} {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
        &.img2 {
            border-radius: 70px 0px 0;
            @media #{ $xs} {
                margin-bottom: 30px;
            }
        }
        &.img3 {
            border-radius: 0px 70px 0px 0px;    
        }
    }
}