@forward './404';
@forward './happy-customer';
@forward './testimonial';
@forward './our-team';
@forward './experience';
@forward './why-choose-us';
@forward './about-us';
@forward './latest-project';
@forward './filter';
@forward './what-we-do';
@forward './about-company';
@forward './text-silder';
@forward './what-we-do-2';
@forward './expert';
@forward './recent-project';
@forward './why-choose-us-2';
@forward './experience-2';
@forward './team-member';
@forward './working-process';
@forward './clients-testimonial';
@forward './our-featured-service';
@forward './our-work-precess-2';
@forward './testimonial-2';
@forward './contact-us';
@forward './portfolio';
@forward './team-details';
@forward './service-details';
@forward './protfolio-details';
@forward './latest-article';
@forward './rr-instagram';
@forward './about-us-2';
@forward './our-special-skills';
@forward './projects';
@forward './service';
@forward './awarde-6';
